:root{
    --primary-light-color: #ffffff;
    --primary-dark-color: #463527;
    --primary-font-white: #fff;
    --primary-font-black: #000;
    --primary-black-background: #000;
    --primary-font-light-color: #C0AF9F;
    --primary-font-dark-color: #463527;
    --primary-hover-color: #8C7A66;
    --primary-line-color: #A8927B;
    --primary-button-hover-color: #a8927b81;
    --primary-font-color: #C5BBB2;
    --primary-dark-color: #1A120F;
    --primary-font-secondary-color: #A8947D;
    --primary-background-color: #E2DED9;
    --primary-font-third-color: #AB947D;
    --secondary-color: #8C7A66;

}